<head>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <style>
        div.container {
            margin-top: 25px;
        }
        div.col-lg-8 {
            width: 700px;
        }
        div.col-lg-4 {
            width: 410px;
        }
        div.portfolio-info {
            background-color: white;
        }
        #portfolio-details {
            display: inline-block;
        }
        body {
            text-align: center;
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        }
    </style>
</head>
<body>
    <main id="main" data-aos="fade-up">
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide">
                                    <img src="~/Content/img/parkinglot/parkinglot_1.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/img/parkinglot/parkinglot_2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/img/parkinglot/parkinglot_3.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>주차장 이용 안내</h3>
                            <ul>
                                <li><strong>기본 요금</strong>: 30분당 1000원</li>
                                <li><strong>추가 요금</strong>: 10분당 500원</li>
                                <li><strong>주차장 운영시간</strong>: 10:00 ~ 23:00</li>
                                <li><strong>문의처</strong>: <a href="#">서울시 공영주차팀</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>주차장 소개</h2>
                            <p>
                                서울의 주차난 해소와 시민 편의를 위해<br />지하철 역사 주변에 설치되어 있습니다.<br />
                                특히, 주차 요금 투명성과 고객들의 편리한 이용을 위해<br />카드전용 주차시스템을 도입해<br />점차적으로 확대 운영하고 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>