@using PagedList.Mvc;
@model PagedList.IPagedList<ParkingManagement.Models.UserModel>

<head>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <style>
        h3.card-title {
            font-weight: bold;
        }

        div.col-md-12 {
            width: 950px;
        }

        div.card-header {
            background-color: white;
            text-align: center;
            margin-top: 15px;
        }

        div.card-body.table-full-width.table-responsive {
            margin-bottom: 20px;
        }

        #srow {
            display: inline-block;
        }

        p.card-category {
            font-weight: bold;
        }

        body {
            text-align: center;
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="srow">
            <div class="col-md-12">
                <div class="card card-plain table-plain-bg">
                    <div class="card-header">
                        <h3 class="card-title">모든 회원 보기</h3>
                        <p class="card-category">가입된 회원 정보입니다.</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <th>사용자 이름</th>
                            <th>사용자 이메일</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.User_Name</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.Count() == 0)
                        {
                            <div class="alert alert-info">
                                데이터가 없습니다
                            </div>
                        }
                    </div>
                    <div class="text-center">
                        <div class="btn-group">
                            @Html.PagedListPager(Model, page => Url.Action("MemberList", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
